/* For getting rid of stuff .ytd-rich-grid-renderer,   #contentContainer*/
#related, #scrim, #guide, #guide-button, .ytp-endscreen-content, .ytp-ce-element, ytd-miniplayer, ytd-mini-guide-renderer {
    display: none !important;
}

#primary{
    max-width: 100% !important;
}

ytd-app{
    --ytd-persistent-guide-width: 0px !important;
    --ytd-mini-guide-width: 0px !important;
}