/* ========================================================================== */

.extension_options_grid{
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    border-radius: 10px;
    align-items: start;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

/* ====================================================== */



.category {
    color: white;
    width: 100%;
    height: 100%;
}

.catItem{
    display: flexbox;
    align-items: center; /* Vertically centers the span */

    width: 175px;
    padding: 10px;
}

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}