/* ========================================================================== */

.extension_options_grid{
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    border-radius: 10px;
    align-items: start;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

/* ====================================================== */


/* span that contains category name */
.category {
    color: white;
    align-self: center;
    font-size: medium;
    margin-left: 3px;
}

.catItem{
    display: flex;
    width: 180px;
    padding: 10px;
}

.categories{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.catContainer{
    display: flex;
    flex-direction: column;
}

/* Title for extension */

.catTitle{
    color: white;
    align-self: center;
    text-decoration: underline;
}

/* Button for locked mode */

.lockBlock{
    margin-top: 20px;
    background-color:orange;
    color: white;
    font-size: 20px;
    width: 200px;
    border-radius: 50px;
    outline: none;
}

/* This section is for the YouTube style Lock Block button */

.toggle-container {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    margin: 4px 1px;
    cursor: pointer;
}

.toggle-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #717171;
    opacity: 0.4;
}

.toggle-button {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
    transition: transform linear 0.08s, background-color linear 0.08s;
    background-color: #fafafa;
}

.toggle-container.active .toggle-button {
    transform: translateX(16px);
    background-color: #f0050e;
}

/* .toggle-container.active .toggle-bar {
    opacity: 1;
} */
