.extension_options_grid{
    grid-column: 1;
    display: grid;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.blocklistContainer{
    grid-column: 1;
    padding: 10px;
    border: solid 1px gray;
    display: grid;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
}

.blocklistChoices, .blockSessions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sessionContainer{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap : 10px;
    padding: 10px;
    border: solid 1px grey;
}

.extension_options_grid h1{
    justify-self: center;
    grid-column: 1/ span 2;
    color: white;
}

.blocklistContainer p{
    justify-self: center;
    grid-column: 1/ span 2;
    color: white;
}

.blocklist, .session{
    grid-column: 1/ span 2;
    background-color: transparent;
    margin: 0px 10px;
    padding: 10px;
    text-justify:center;
    border: none;
    border-radius: 10px;
    color:white;
}

.blocklists, .sessions{
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blocklist:hover, .blocklist:focus, .session:hover, .session:focus{
    background-color: hsla(0, 0%, 100%, 0.08);
    border: none;
}

.channel{
    grid-column: 1/ span 2;
    color:white;
}

.newBlocklistName{
    grid-column: 1/ span 2;
}

.newChannel{
    grid-column: 1;
}

.textInput{
    outline:none;
    color: white;
    height: 30px;
    border: solid hsla(0, 0%, 100%, 0.08) 1px;
    background-color: hsl(0, 0%, 7%);
    padding-left: 15px;
    border-radius: 30px;
}

.createNewBlocklistButton, .createNewBlockSessionButton{
    /* display: inline-block;
    box-sizing: border-box; */
    border-radius: 10px;
    border:none;
    background-color: white;
    color: black;
    margin: 0px 10px;
    padding: 10px;
}

#addChannel{
    grid-column: 2;
    height: 30px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 100px;
}

.timersContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.timersContainer label{
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.timersContainer input{
    align-self: center;
    width: 60%;
}

.weekdays{
    display: flex;
    justify-content: space-evenly;
}

.weekChecks{
    color: white;
    background-color:transparent;
}

.remove{
    background-color: red;
}

#saveBlocklist, #saveSession{
    color: black;
    height: 30px;
    border: none;
    background-color: green;
    border-radius: 100px;
}

.extensionSettings:hover, .extensionSettings:focus{
    background-color: hsla(0, 0%, 100%, 0.08);
    border: none !important;
}

.extensionSettings a span{
    color: white;
}

#saveBlocklist{
    grid-column: 1 /span 2;
}


/* Hardcore mode */
ytd-app{
    --ytd-persistent-guide-width: 72px !important;
    --ytd-mini-guide-width: 72px !important;
}

#primary{
    max-width: 100% !important;
}

/* For getting rid of stuff */
#related, .ytd-rich-grid-renderer, #contentContainer, #scrim, #guide, #guide-button, .ytp-endscreen-content{
    display: none !important;
}


div.ytd-mini-guide-entry-renderer {
    display: inline-block;
    position: relative;
    background-color: 0f0f0f;
    border-radius: 10px;
}

.title.ytd-mini-guide-entry-renderer {
    color: white !important;
}